// Responsividade
@media (max-width: 768px) {
  .container-form-search {
    flex-direction: column;
    gap: 10px;
  }

  .form-grid {
    grid-template-columns: 1fr;
  }

  .btn-search {
    width: 25%;
  }

  .input-cep {
    width: 50%;
    margin-left: 40px;
  }

  .alert{
    top: 10%;
    width: 90%;
    font-size: 0.85rem;
  }
}

@media (max-width: 480px) {
  .container-title h2 {
    font-size: 1.5rem;
  }

  .input-cep,
  .form-group input {
    font-size: 0.9rem;
  }

  .input-cep {
    width: 50%;
    margin-left: 40px;
  }

  .alert{
    top:5%;
    font-size: 0.8rem;
    width: 90%;
  }
}
