.container-form {
  display: flex;
  max-width: 800px;
  height: 450px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.container-title {
  display: flex;
  align-items: center;
  justify-content: center;

  h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
}

.container-form-search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .input-cep {
    padding: 15px 100px 15px 8px;
    border: none;
    background-color: #cbcbcb;
    border-radius: 6px;
    margin-right: 1rem;
  }

  .input-cep::placeholder {
    font-weight: 700;
    font-size: 16px;
  }

  .btn-search {
    padding: 15px;
    border: none;
    background-color: #9b81f0;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
  }
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 4px;
  font-weight: bold;
}

input {
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

hr {
  margin: 10px;
}

.alert {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  margin-top: 15px;
  text-align: center;
}
